.topHidden {
  display: flex;
  justify-content: end;
  // pointer-events: none;
}
.barNoHide {
  display: flex;
  justify-content: space-between;
  // pointer-events: none;
}
.bottomHidden {
  display: flex;
  justify-content: start;
  pointer-events: none;
}
