.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homeLogo {
    max-width: 90vw;
    max-height: 50px;
    padding: 1rem;
}
.homeNew {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 128px;
    top: 510.64px;
}
.homeTrash {
    position: absolute;
    width: 52px;
    height: 59.43px;
    left: 266.11px;
    top: 530.64px;
}

.homeNoArtlist {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100vh;
}

.homeArtlist {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.CanvasElement {
    position: absolute;
}
