.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homeLogo {
    max-width: 90vw;
    max-height: 50px;
    padding-top: 1rem;
}
.homeNew {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 128px;
    top: 510.64px;
}
.homeTrash {
    position: absolute;
    width: 52px;
    height: 59.43px;
    left: 266.11px;
    top: 530.64px;
}

.artDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    max-height: 70vh;
    min-width: 90vw;
    overflow-x: auto;
    padding: 0 2rem;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.artDisplay::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.artContainer {
    padding: 0.5rem;
}
.art {
    height: 200px;
    width: 125px;
    overflow: hidden;
    border-radius: 10px;
}

.new {
    max-height: 15vh;
}

.CanvasElement {
    position: absolute;
}
