@font-face {
    font-family: 'Oliver';
    src: url('../../public/assets/fonts/Oliver-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Futura_Book';
    src: url('../../public/assets/fonts/Futura_Book.ttf') format('truetype');
}

.container {
    display: grid;
    grid-template-areas:
        'Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero'
        'Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero'
        'Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero'
        'what what what what what what what what what what what what'
        'what what what what what what what what what what what what'
        'what what what what what what what what what what what what'
        'features features features features features features features features features features features features'
        'video video video video video video video video video video video video'
        'how how how how how how how how how how how how'
        'how how how how how how how how how how how how'
        'how how how how how how how how how how how how'
        'who who who who who who who who who who who who';
    gap: 5px 5px;
    grid-auto-flow: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}

/* HEADER STYLES */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    padding: 5px;
    color: #414141;
    border: 3px solid magenta;
}

.logo {
    display: flex;
    margin-left: 5px;
    font-family: Oliver;
    font-size: 1.5rem;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navBar a {
    text-decoration: none;
    color: #414141;
    font-size: 1rem;
    font-family: Futura_Book;
}

.ctaBtn {
    /* Position */
    display: flex;
    justify-self: flex-end;

    /* Size */
    width: 110px;
    border-radius: 16px;
    padding-left: 5px;
    padding-right: 5px;

    /* Font */
    font-family: Futura_Book;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;

    /* Color */
    background-color: #f99d1f;
    color: #ffffff;
}

/* HERO STYLES */
.hero {
    display: flex;
    flex-direction: row;
    grid-area: Hero;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    height: 500px;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #fddeb4;
    color: #414141;
    clip-path: ellipse(120% 100% at 50% 0%);
}

.heroText h2 {
    font-family: Futura_Book;
    font-size: 3rem;
    margin: 0;
}

.heroText p {
    margin: 0;
    font-family: Futura_Book;
    font-size: 0.75rem;
}

/* WHAT SECTION STYLES */
.what {
    display: flex;
    flex-direction: row;
    grid-area: what;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 3px solid red;
}
/* .whatImg {
    grid-area: whatImg;
}
.whatText {
    grid-area: whatText;
} */

/* FEATURES */
.features {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    grid-area: features;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: space-around;
    border: 3px solid blue;
}
.featureCard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-start;
    width: 80%;
}
.featureCard figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

/* VIDEO */
.video {
    border: 3px solid orange;
    grid-area: video;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* HOW SECTION STYLES */
.how {
    display: flex;
    flex-direction: row;
    grid-area: how;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 3px solid purple;
}
/* .step1Text {
    grid-area: 8 / 2 / 9 / 7;
}
.step1Img {
    grid-area: 8 / 7 / 9 / 12;
}
.step2Img {
    grid-area: 9 / 2 / 10 / 7;
}
.step2Text {
    grid-area: 9 / 7 / 10 / 12;
}
.step3Text {
    grid-area: 10 / 2 / 11 / 7;
}
.step3Img {
    grid-area: 10 / 7 / 11 / 12;
} */

/* TEAM SECTION STYLES */
.team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: who;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 3px solid brown;
}
/* .juliCard {
    grid-area: 11 / 2 / 13 / 4;
}
.nickCard {
    grid-area: 11 / 6 / 13 / 8;
}
.jamesCard {
    grid-area: 11 / 10 / 13 / 12;
} */
